<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Dashboard</title>
    <link rel="stylesheet" href="/scss/addToCart_scss/addToCart.css">
    <link rel="stylesheet" href="/scss/home_scss/home.css">
</head>

<body>
    {{>navbar}}
    <div class="cartNavigation">
        <nav>
            <li>My Cart</li>
        </nav>
    </div>
    <div class="cartProducts-wrapper">
        <div class="products">

        </div>
        <div class="cartItemsBuy">

        </div>
    </div>
    
    <script src="/js/index.js"></script> 
    <script src="/js/addToCart.js"></script>
</body>

</html>