<div class="card">
    <div class="card-body">
        <h5 class="card-title">Verify email address </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content <a href="#"
                class="card-link">Change</a></p>
        <form class="row g-3">
            <div class="col-md-12">
                <label for="inputText" class="form-label">Enter OTP</label>
                <input type="text" minlength="5" maxlength="6" name="userEnteredOTP" class="form-control"
                    id="inputText">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100">Continue</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a href="#" class="card-link">Resend OTP</a>
        </div>
    </div>
</div>