<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/working_scss/working.css">
    <title>Working Area</title>
</head>

<body>
    <div class="input-area">
        <form action="/bookStore/operations" enctype="multipart/form-data" method="post">
            <input type="text" name="productType" placeholder="Product Type ( book,electronic, etc.)">
            <input type="text" name="name" placeholder="product.." required autocomplete="off">
            <input type="text" name="genres" placeholder="genres.." required autocomplete="off">
            <input type="file" name="image" placeholder="product image.." required autocomplete="off">
            <input type="text" name="author" placeholder="author.." required autocomplete="off">
            <input type="text" name="description" placeholder="description.." required autocomplete="off">
            <input type="text" name="publisher" placeholder="publisher.." required autocomplete="off">
            <input type="text" name="edition" placeholder="edition.." required autocomplete="off">
            <input type="text" name="pageCount" placeholder="pages.." required autocomplete="off">
            <input type="text" name="language" placeholder="language.." required autocomplete="off">
            <input type="text" name="formats" placeholder="formats.." required autocomplete="off">
            <input type="text" name="keywords" placeholder="keywords..." required autocomplete="off">
            <input type="text" name="discountsType" placeholder="discountTypes.." required autocomplete="off">
            <input type="text" name="discountsAmount" placeholder="discount mounts.." required autocomplete="off">
            <button type="submit">Publish</button>
        </form>
    </div>
</body>

</html>