* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    // background-color: rgb(231, 231, 231);
}

html {
    font-size: 62.5%;
}

@mixin displayFlex {
    display: flex;
    align-items: center;
}

@mixin custom-btn {
    background-color: #4fb06d;
    padding: 0.5rem 1.5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header {
    background-color: blueviolet;
    padding: 0 1rem;

    nav {
        @include displayFlex();
        gap: 1.3rem;
        height: 6rem;
        justify-content: space-between;

        a {
            color: #ffff;
            font-size: 1.3rem;
        }
        .logo{
            font-size: 2.2rem;
            h1{
                color: red;
                span{
                    color: white;
                }
            }
        }
        .search_bar {
            input {
                outline: none;
                border: none;
                width: 20rem;
                height: 2.5rem;
                padding: 0 1rem;
                font-size: 1.3rem;
                border-radius: 5rem;
            }
        }

        img {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
        }

        ul {
            @include displayFlex();
            gap: 1.5rem;
            list-style: none;
        }

        .custom-btn {
            @include custom-btn();
        }
    }
}

.carousel_hero {
    padding: 3rem 1rem 0 1rem;
    margin-bottom: 2.5rem;
}

.categories_wrapper {
    position: relative;
    padding: 2rem;
    border: 1px solid #dad9db;
    border-radius: .5rem;
    margin-bottom: 2.5rem;


    h2 {
        position: absolute;
        top: -13.91px;
        text-align: center;
        background-color: white;
        padding: .5rem;
    }
}

.products_categories {
    width: 100%;
    padding: 1rem;

    .categories_wrapper-2 {
        @include displayFlex();
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem;

        .book-card {
            width: 25rem;
            height: auto;
            border-radius: .5rem;
            box-shadow: 1px 3px 16px -5px #dad9db;
            background-color: #fff;

            .b-img {
                height: 70%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .b-content {
                height: 30%;
                padding: 1rem;
                text-align: center;

                h3 {
                    margin-top: 1rem;
                    color: #2a363b;
                    

                }

                .price {
                    font-size: 2.3rem;
                    font-weight: 700;
                    margin-top: .6rem;
                    color: #474747;
                    opacity: .4;

                    span {
                        position: relative;
                        font-size: 1.7rem;
                    }
                }

                .price span::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: .2rem;
                    background-color: rgb(0, 0, 0);
                    top: calc(100% - 50%);
                    left: 0;
                }

                .card-btn {
                    @include displayFlex();
                    justify-content: center;
                    gap: 2rem;
                    margin-top: 1.2rem;

                    .custom-btn {
                        @include custom-btn();
                    }
                }
            }
        }
    }

}