
html{
    height: 100%;
}
body{
    height: 100%;
    display:flex;
}
input{
    margin-bottom: 1.5rem;
    /* width: 35rem; */
    min-width: 12rem;
    max-width: 35rem;
    height: 2.5rem;
    font-size: 1.4rem;
    padding: 0 1rem;

    border: .01rem solid #dfdfdf;
    border-radius: .5rem;
    outline: none;
}
button{
    width: 15rem;
    height: 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    background-color: red;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    margin: auto;

}
.publishing-area{
    padding: 2rem;
    margin: auto;
  
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 35rem;}
