<header>
    <nav>
      <div class="logo">
        <h1>Book <span>Store</span></h1>
      </div>
      <div class="search_bar">
        <input type="text" placeholder="Search...">
      </div>
      <ul>
        <a href="">
          <li>home</li>
        </a>
        <a href="">
          <li>Contact Us</li>
        </a>
        <a href="">
          <li>Project List</li>
        </a>
      </ul>
      <div class="login_btn">
        <a href="" class="custom-btn">Login</a>
      </div>
    </nav>
  </header>