* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    // background-color: rgb(231, 231, 231);
}

html {
    font-size: 62.5%;
}

@mixin displayFlex {
    display: flex;
    align-items: center;
}

@mixin custom-btn {
    background-color: #4fb06d;
    padding: 0.5rem 1.5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cartProducts-wrapper {
    @include displayFlex();
    gap: 1.5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 2rem;

    .products {
        .book-card {
            margin: 1.5rem 0rem;
            width: 30rem;
            height: auto;
            display: flex;
            border-radius: .5rem;
            box-shadow: 1px 3px 16px -5px #dad9db;
            background-color: #fff;

            .product_quantity {
                .b-img {
                    height: auto;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .quantity {
                    height:auto;
                    display: grid;
                    place-items: center;

                    div {
                      @include displayFlex();
                        gap: 1.5rem;
                        padding: .5rem;

                        i {
                            background-color: #ffffff;
                            height: 2rem;
                            width: 2rem;
                            border-radius: 50%;
                            display: grid;
                            place-items: center;
                            font-style: normal;
                            font-size: 1.3rem;
                            font-weight: 500;
                            box-shadow: 1px 1px 7px -3px black;
                            cursor: pointer;
                        }
                    }
                }
            }

            .b-content {
                height: 30%;
                padding: 1rem;
                text-align: center;

                h3 {
                    margin-top: 1rem;
                    color: #2a363b;


                }

                .price {
                    font-size: 2.3rem;
                    font-weight: 700;
                    margin-top: .6rem;
                    color: #474747;
                    opacity: .4;

                    span {
                        position: relative;
                        font-size: 1.7rem;
                    }
                }

                .price span::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: .2rem;
                    background-color: rgb(0, 0, 0);
                    top: calc(100% - 50%);
                    left: 0;
                }

                .card-btn {
                    @include displayFlex();
                    justify-content: center;
                    gap: 2rem;
                    margin-top: 1.2rem;

                    .custom-btn {
                        @include custom-btn();
                    }
                }
            }
        }
    }
}